.role-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  width: 180px;
  margin: 10px 0;
  padding: 8px 80px;
  font-size: 18px;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 8px;
  background: white;
  color: black;
  cursor: pointer;
  overflow: hidden;
  transition: color 0.4s ease;
  z-index: 1;
}

/* Background animation */
.role-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: black;
  transition: width 0.5s ease;
  z-index: -1;
}

.role-btn.active::before {
  width: 100%; /* fills left to right */
}

.role-btn span {
  position: relative;
  z-index: 1;
}

.role-btn i {
  font-size: 20px;
  transition: transform 0.6s ease;
  position: relative;
  z-index: 1;
}

.role-btn.active {
  color: white;
}

.role-btn.active i {
  color: white;
}

.spin {
  transform: rotate(360deg);
}
